body
{
  margin: 0;
}

.content
{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}

.content__nav
{
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 1px 250px 0;
}

.nav__logo
{
  font: 400 26px/1 'Lora';
  color: #2E2E2E;
}

.nav__item
{
  font: 400 12px/1.6 'Oxygen';
  color: #2E2E2E;
  padding: 10px 20px;
  text-decoration: 0;
}

.content__title
{
  font: 400 50px/1 'Lora';
  color: #2E2E2E;
  margin: 120px 0 0 0;
}

.content__text
{
  font: 400 17px/1.18 'Oxygen';
  color: rgba(46, 46, 46, 0.63);
  margin: 20px 0 110px 0;
}

.content__photo
{
  height: 534px;
  width: 100%;
}

.main-block
{
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 240px 135px 240px;
}

.article__text
{
  font: 400 24px/1.46 'Oxygen';
  color: #101315;
  width: 960px;
}

.footer
{
  background: #000000 url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title
{
  font: 400 25px/1.2 "Oxygen";
  color: #EFEFEF;
  letter-spacing: 2px;
  text-align: center;
  margin: 81px 0 0 0;
}

.feedback__title::after
{
  content:"";
  display: block;
  margin: 17px 0 20px 0;
  width: 188px;
  height: 1px;
  background-color: #DEDEDE;
}

.feedback__form
{
  display: flex;
  align-self: center;
  margin: 0 0 90px 0;
}

.feedback__email
{
  font: 400 12px/1.16 "Roboto";
  color: #817F83;
  background: #FFFFFF;
  width: 375px;
  height: 50px;
  border-radius: 3px 0 0 3px;
  border: none;
  padding: 0 0 0 35px;
}

.feedback__button
{
  font: 400 12px/1.16 "Roboto";
  color: #F8F8F8; 
  background-color: rgba(255, 255, 255, 0.28);
  width: 125px;
  height: 50px;
  border-radius: 0 3px 3px 0;
  border-style: none;
}

.footer__nav
{
  height: 89px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 0 100vw rgba(35, 47, 56, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 28px 250px 27px;
}

.nav__logo_color
{
  font: 400 26px/1 'Lora';
  color: #ffffff;
}

.nav__item_color
{
  font: 400 12px/1.6 'Oxygen';
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  text-decoration: 0;
}