.menu__logo
{
  font: 400 26px/1 'Lora';
  color: #2E2E2E;
}

.menu__item
{
  font: 400 12px/1.6 'Oxygen';
  color: #2E2E2E;
  text-decoration: 0;
}

.top-block__title
{
  font: 400 50px/1 'Lora';
  color: #2E2E2E;
}

.top-block__text
{
  font: 400 17px/1.18 'Oxygen';
  color: rgba(46, 46, 46, 0.63);
}

.main-block__text
{
  font: 400 24px/1.46 'Oxygen';
  color: #101315;
}

.low-block
{
  background: url('../images/footer-block-background.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__logo_color
{
  font: 400 26px/1 'Lora';
  color: #ffffff;
}

.menu__item_color
{
  font: 400 12px/1.6 'Oxygen';
  color: #ffffff;
  text-decoration: 0;
}