.top-block
{
  background: url('../images/top-block-background.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 500px;
}

.menu__logo
{
  font: 400 26px/1 "Lora";
  color: #ffffff;
}

.menu__item
{
  font: 400 12px/1.6 "Oxygen";
  color: #ffffff;
  text-decoration: 0;
}

.content__title
{
  font: 400 50px/1 "Lora";
  color: #ffffff;
}

.content__text
{
  font: 400 17px/1.18 "Oxygen";
  color: rgba(255, 255, 255, 0.63);
}

.content__button
{
  font: 400 13px/1.5 "Oxygen";
  color: #ffffff;
  background-color: #DD783F;
  border-radius: 3px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.submenu__item
{
  font: 400 14px/1.4 "Lora";
  color: #768088;
  text-decoration: 0;
}

.main-block__name
{
  font: 400 20px/1.35 "Oxygen";
  color: #2E2E2E;
}

.main-block__title
{
  font: 400 27px/1.1 "Lora";
  color: #000000;
}

.main-block__text
{
  font: 400 14px/1.8 "Oxygen";
  color: #000000;
}

.main-block__caption
{
  font: 400 12px/2.9 "Oxygen";
  color: #000000;
}

.main-block__section-heading
{
  font: 400 12px/2.9 "Oxygen";
  color: rgba(255, 255, 255, 0.7);
  background-color: #DD783F;
  border-radius: 2px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-block__heading
{
  font: 400 16px/1.3 "Lora";
  color: #101315;
}

.body__description
{
  font: 400 13px/1.46 "Oxygen";
  color: #7A7A7A;
}

.low-block
{
  background: url('../images/footer-block-background.jpg') #000000;
  background-repeat: no-repeat;
  background-size: cover;
}