<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Escape</title>
  <link href="static/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <header class="top">
    <div class="top__nav nav">
      <span class="nav__logo">Escape.</span>
      <nav class="nav__items">
        <a href="#" class="nav__item">HOME</a>
        <a href="#" class="nav__item">CATEGORIES</a>
        <a href="#" class="nav__item">ABOUT</a>
        <a href="#" class="nav__item">CONTACT</a>
      </nav>
    </div>
    <h1 class="top__title">Let's do it together.</h1>
    <p class="top__text">We travel the world in search of stories. Come along for the ride.</p>
    <button class="top__button">View Latest Posts</button>
  </header>
  <nav class="submenu">
    <a href="#" class="submenu__item">Nature</a>
    <a href="#" class="submenu__item">Photography</a>
    <a href="#" class="submenu__item">Relaxation</a>
    <a href="#" class="submenu__item">Vacation</a>
    <a href="#" class="submenu__item">Travel</a>
    <a href="#" class="submenu__item">Adventure</a>
  </nav>
  <div class="main">
    <div class="main__featured-posts">
      <h2 class="main__name">Featured Posts</h2>
      {{ range .FeaturedPosts }}
      <div class="main__post post" style="background-image: url('{{ .PostImg }}');">
        <a href="/post/{{ .PostID }}" + post.PostID class="post__title">{{ .Title }}</a>
        <p class="post__text">{{ .Subtitle }}</p>
        <div class="post__caption caption">
          <img class="caption__photo" src="{{ .AuthorImg }}" alt="Mat Vogels">
          <span class="caption__author">{{ .Author }}</span>
          <span class="caption__text">{{ .PublishDate }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  
    <div class="main__most-recent"> 
      <h2 class="main__name">Most Recent</h2>
      {{ range .MostRecentPosts }} 
      <div class="main__article article">
        <img class="article__photo" src="{{ .PostImg }}" alt="Air baloons">
        <a href="/post/{{ .PostID }}" + post.PostID class="article__heading">{{ .Title }}</a>
        <p class="article__description">{{ .Subtitle }}</p>
        <div class="article-caption">
          <img class="article-caption__photo" src="{{ .AuthorImg }}" alt="William Wong">
          <span class="article-caption__author">{{ .Author }}</span>
          <span class="article-caption__text">{{ .PublishDate }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>  
  <footer class="footer">
    <h2 class="feedback__title">Stay in Touch</h2>
    <form class="feedback__form" action="#">
      <input class="feedback__email" type="email" name="email" placeholder="Enter your email address">
      <input class="feedback__button" type="submit" value="submit">
    </form>
    <div class="footer__nav nav">
      <span class="nav__logo">Escape.</span>
      <nav class="nav__items">
        <a href="#" class="nav__item">HOME</a>
        <a href="#" class="nav__item">CATEGORIES</a>
        <a href="#" class="nav__item">ABOUT</a>
        <a href="#" class="nav__item">CONTACT</a>
      </nav>
    </div>
  </footer>
</body>
</html>
